version: '3.8'

services:
  # MySQL Database Service
  db:
    image: mysql:8.0.28
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: 'super-app'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - "3306:3306"
    networks:
      - app-network

  # Node.js Application Service
  node-app:
    build: ./Node
    container_name: node_app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASS=password
      - DB_NAME=super-app
    networks:
      - app-network

  # PHP Application Service
  php-app:
    build: ./PHP
    container_name: php_app
    ports:
      - "80:80"
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge